@media screen and (max-width: 768px) {

    .navbar nav {
        display: flex;
        flex-direction: column;
    }
    .navbar nav ul {
        display: none;
    }

    .about .container .about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .container .about-us img {
        width: 70px;
        display: none;
    }

    .about .container .about-us .text-us{
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        text-align: center;
    }

    .section-title {
        font-size: 30px;
    }

    .about .container .about-us .text-us h2 {
        margin-bottom: 10px;
    }
    
    .about .container .about-us .text-us p {
        width: 287px;
    }

    .service-list ul li div {
        width: 250px;
    }

    .contact .container {
        width: 300px;
    }

    .projects .container {
        width: 300px;
    }

    .projects .container h2 {
        width: 100%;
        font-size: 30px;
    }

    .projects .container .projects-cards{
        width: 300px;
    }

    iframe {
        width: 300px;
        height: 250px;
    }

    footer .container {
        margin-top: 50px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    footer .container div {
        margin: 20px 20px;
    }
}