@media screen and (max-width: 768px) {


    .navbar {
        flex-direction: column;
        background-color: #202925;
        border-bottom:2px solid yellow;

    }

    .navbar nav {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        margin-top:70px;
    }

    .hero{
        height: 500px;
    }

    .about .container .about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .container .about-us img {
        width: 70px;
        display: none;
    }

    .about .container .about-us .text-us{
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        text-align: center;
        width: 319px;
    }

    .section-title {
        font-size: 30px;
    }

    .about .container .about-us .text-us h2 {
        margin-bottom: 10px;
    }
    
    .about .container .about-us .text-us p {
        width: 287px;
    }

    .service-list ul li div {
        width: 250px;
    }

    .text-center {
        text-align: center;
    }

    .contact {
        height: 600px;
    }


    .contact .container {
        width: 300px;
        height: 400px;
    }

    .projects .container {
        width: 300px;
    }

    .projects .container h2 {
        width: 100%;
        font-size: 30px;
    }

    .projects .container .projects-cards{
        width: 300px;
    }

    iframe {
        width: 80%;
        height: 50%;
    }

    .footer img {
        display: none;
    }

    .footer {
        width: 100%;
        margin-top: 50px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .footer .footer-div {
        width: 200px;
        margin-left: 10px;
    }
}